extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="mediaForm" class="form" action="/users" method="post")
    label(class="form-item")
      span Username
      input(type='text' name="username")
    label(class="form-item")
      span Password
      input(type="password" name="password")
    input(type="button" value="Submit" onclick="userLogin(this)")
